<tr id='viewOrder'>
  <td>View Orders</td>
</tr>
<tr id='placeOrder' class='even'>
  <td>Place Order</td>
</tr>
<tr id='addItem'>
  <td>Add Item</td>
</tr>
<tr id='viewLog' class='even'>
  <td>View Log</td>
</tr>
<tr id='viewReport' class='hidden'>
  <td>Usage Report</td>
</tr>
<tr id='manageUsers'>
  <td>View Users</td>
</tr>
<tr id='newUser' class='even'>
  <td>Add User</td>
</tr>
<tr id='manageCategories' class='hidden'>
  <td>Manage Categories</td>
</tr>
<tr id='logout'>
  <td>Log Out</td>
</tr>
